In [59]:
import pandas as pd
import sqlalchemy
import math
import os, sys, copy, random, pickle, cv2
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline

sys.path.append("../")

%load_ext autoreload
%autoreload 2

from modules.ControlTracking import TrackFactory
from modules.ControlDisplay import Display
from modules.Interproc import DBInterface, GuiviewState

from modules.AnalysisHelpers import ( 
         exploreImgs, buildImgComparisonData, subprocEval)

from modules.EvalHelpers import EvalTracker, EvalDataset
from modules.ControlEval import EvalFactory
from modules.DataSchemas import ScoreSchema
from modules.EvalHelpers import OutcomeData, DFHelper

from modules.EvalHelpers import AggEval, DFHelper

from modules.EvalSuite import EvalSuite

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

### Use subproc with logging

In [81]:
tmp_db_path = 'data/misc/books/eval-module-4/evaldb.db'

vid_path = 'data/proc/tmp/dec14/output5.proc1.proc1.avi'

outcome_subproc = subprocEval(f_pathfn = vid_path
                              ,db_pathfn = tmp_db_path 
                              ,b_log = True
                              ,b_eval_log = True
                             )

START - running eval module...
[                            ]
-----------------------------
output db: data/misc/books/eval-module-4/evaldb.db
output tbl: outcome_dataframe
eval time: 6.591
outcome rows: 345 cols: 48

num frames:                  345
obj enums scored/tracked:    0,1 / 0
num scored frames:           19 | 0,9,78...308,324,340
-------
agg_calcBaselineBallUnitsAway   0.46
agg_checkBothContainsOther      0.42
agg_checkTrackSuccess           1.00
fagg_less_than_20_pix_balls_away   0.53
fagg_less_than_30_pix_success      1.00
-----
subproc time: 13.91

In [82]:
tmp_db_path = 'data/misc/books/eval-module-4/evaldb.db'

vid_path2 = 'data/proc/tmp/dec14/output6.proc1.avi'

outcome_subproc2 = subprocEval(f_pathfn = vid_path2
                              ,db_pathfn = tmp_db_path 
                              ,b_log = True
                              ,b_eval_log = True
                             )

START - running eval module...
[                            ]
------------------------------
output db: data/misc/books/eval-module-4/evaldb.db
output tbl: outcome_dataframe
eval time: 14.52
outcome rows: 383 cols: 48

num frames:                  383
obj enums scored/tracked:    0,1 / 0
num scored frames:           10 | 0,22,40...125,188,380
-------
agg_calcBaselineBallUnitsAway   0.18
agg_checkBothContainsOther      0.88
agg_checkTrackSuccess           1.00
fagg_less_than_20_pix_balls_away   0.28
fagg_less_than_30_pix_success      1.00
-----
subproc time: 18.18

### Use EvalSuite

In [56]:
from modules.EvalSuite import EvalSuite

In [57]:
suite, suite2 = EvalSuite(), EvalSuite()

suite.buildFromOutcome(outcome_subproc)
suite2.buildFromOutcome(outcome_subproc2)

In [58]:
suite.aggFilterDfh.df

                                      mean      n
fagg_less_than_20_pix_balls_away  0.533238   16.0
fagg_less_than_30_pix_success     1.000000  310.0

In [ ]:
suite

In [45]:
suite2.aggFilterDfh.df

                                      mean    n
fagg_less_than_20_pix_balls_away  0.282109  2.0

In [55]:
suite.aggDfh.df['mean'].T[['agg_calcBaselineBallUnitsAway', 'agg_checkBaselineInsideTrack', 'blah']].T

agg_calcBaselineBallUnitsAway    0.460093
agg_checkBaselineInsideTrack     0.421053
blah                                  NaN
Name: mean, dtype: float64

In [51]:
suite.aggDfh.df

,max,mean,median,min,std,sum
agg_calcBaselineBallUnitsAway,1.017213,0.460093,0.448764,0.028284,0.328134,8.741774
agg_checkBaselineInsideTrack,NaN,0.421053,NaN,NaN,NaN,NaN
agg_checkBothContainsOther,NaN,0.421053,NaN,NaN,NaN,NaN
agg_checkEitherContainsOther,NaN,0.526316,NaN,NaN,NaN,NaN
agg_checkTrackInsideBaseline,NaN,0.526316,NaN,NaN,NaN,NaN
agg_checkTrackInsideBaselineRect,NaN,0.105263,NaN,NaN,NaN,NaN
agg_checkTrackSuccess,NaN,1.000000,NaN,NaN,NaN,NaN
agg_compareRadii,7.000000,2.315789,2.000000,0.000000,1.827343,44.000000
agg_distanceFromBaseline,12.206556,5.491158,5.385165,1.000000,3.127801,104.332002
agg_propBaselineRadius,26.000000,9.842105,6.000000,3.000000,8.187139,187.000000
agg_propTrackRadius,33.000000,12.376812,8.000000,1.000000,10.362193,4270.000000

In [49]:
suite2.aggDfh.df

,max,mean,median,min,std,sum
agg_calcBaselineBallUnitsAway,0.319438,0.179705,0.182272,0.030744,0.094670,1.437642
agg_checkBaselineInsideTrack,NaN,0.875000,NaN,NaN,NaN,NaN
agg_checkBothContainsOther,NaN,0.875000,NaN,NaN,NaN,NaN
agg_checkEitherContainsOther,NaN,1.000000,NaN,NaN,NaN,NaN
agg_checkTrackInsideBaseline,NaN,1.000000,NaN,NaN,NaN,NaN
agg_checkTrackInsideBaselineRect,NaN,0.500000,NaN,NaN,NaN,NaN
agg_checkTrackSuccess,NaN,1.000000,NaN,NaN,NaN,NaN
agg_compareRadii,19.000000,5.625000,3.000000,0.000000,6.323143,45.000000
agg_distanceFromBaseline,19.646883,8.971922,6.815688,2.828427,5.928586,71.775375
agg_propBaselineRadius,52.000000,33.700000,36.500000,7.000000,15.748369,337.000000
agg_propTrackRadius,63.000000,13.084848,6.000000,1.000000,13.728990,4318.000000

In [46]:
suite.previewEachDf(clip_rows=3)

agg_calcBaselineBallUnitsAway       0.46
agg_checkBaselineInsideTrack        0.42
agg_checkBothContainsOther          0.42
agg_checkEitherContainsOther        0.53
agg_checkTrackInsideBaseline        0.53
agg_checkTrackInsideBaselineRect    0.11
agg_checkTrackSuccess               1.00
agg_compareRadii                    2.32
agg_distanceFromBaseline            5.49
agg_propBaselineRadius              9.84
agg_propTrackRadius                12.38

,calc Baseline Ball Units Away,check Both Contains Other,distance From Baseline,check Track Success,prop Track Radius,check Baseline Inside Track,check Either Contains Other,check Track Inside Baseline,check Track Inside Baseline Rect,compare Radii,prop Baseline Radius
0,0.04,True,2,True,32,True,True,True,False,6,26.0
1,nan,None,nan,None,32,None,None,None,None,nan,NaN
2,nan,None,nan,None,31,None,None,None,None,nan,NaN

,index,input _data0 _0,input _data0 _1,input _data0 _2,input _data0 _3,input _data1 _0,input _data1 _1,input _data1 _2,input _data1 _3,input _data2 _0,...,track _data3 _2,track _data3 _3,track _obj _exists _0,track _obj _exists _1,track _obj _exists _2,track _obj _exists _3,track _obj _type _0,track _obj _type _1,track _obj _type _2,track _obj _type _3
0,0,107.0,111.0,None,None,214.0,218.0,None,None,54.0,...,None,None,True,None,None,None,circle,None,None,None
1,1,NaN,NaN,None,None,NaN,NaN,None,None,NaN,...,None,None,True,None,None,None,circle,None,None,None
2,2,NaN,NaN,None,None,NaN,NaN,None,None,NaN,...,None,None,True,None,None,None,circle,None,None,None

In [47]:
suite2.previewEachDf(clip_rows=3)

agg_calcBaselineBallUnitsAway       0.18
agg_checkBaselineInsideTrack        0.88
agg_checkBothContainsOther          0.88
agg_checkEitherContainsOther        1.00
agg_checkTrackInsideBaseline        1.00
agg_checkTrackInsideBaselineRect    0.50
agg_checkTrackSuccess               1.00
agg_compareRadii                    5.62
agg_distanceFromBaseline            8.97
agg_propBaselineRadius             33.70
agg_propTrackRadius                13.08

,calc Baseline Ball Units Away,check Both Contains Other,distance From Baseline,check Track Success,prop Track Radius,check Baseline Inside Track,check Either Contains Other,check Track Inside Baseline,check Track Inside Baseline Rect,compare Radii,prop Baseline Radius
0,0.08,True,5,True,27.0,True,True,True,True,-7,34.0
1,nan,None,nan,None,27.0,None,None,None,None,nan,NaN
2,nan,None,nan,None,26.0,None,None,None,None,nan,NaN

,index,input _data0 _0,input _data0 _1,input _data0 _2,input _data0 _3,input _data1 _0,input _data1 _1,input _data1 _2,input _data1 _3,input _data2 _0,...,track _data3 _2,track _data3 _3,track _obj _exists _0,track _obj _exists _1,track _obj _exists _2,track _obj _exists _3,track _obj _type _0,track _obj _type _1,track _obj _type _2,track _obj _type _3
0,0,436.0,442.0,None,None,320.0,324.0,None,None,68.0,...,None,None,True,None,None,None,circle,None,None,None
1,1,NaN,NaN,None,None,NaN,NaN,None,None,NaN,...,None,None,True,None,None,None,circle,None,None,None
2,2,NaN,NaN,None,None,NaN,NaN,None,None,NaN,...,None,None,True,None,None,None,circle,None,None,None

### Adding Properties + Calcs to Eval()

In [6]:
from modules.EvalSuite import EvalSuite
from modules.EvalHelpers import DFHelper, OutcomeData

In [7]:
suite = EvalSuite()
suite.buildFromOutcome(outcome_subproc)

In [8]:
eval_df = DFHelper(suite.evalTable)
eval_df.setRowsRequested(s_cmd='inputframes')
eval_df.getDatasetDisplay()

,calc Baseline Ball Units Away,check Both Contains Other,distance From Baseline,check Track Success,prop Track Radius,check Baseline Inside Track,check Either Contains Other,check Track Inside Baseline,check Track Inside Baseline Rect,compare Radii,prop Baseline Radius
0,0.04,True,2,True,32,True,True,True,False,6,26.0
9,0.14,True,7,True,33,True,True,True,False,7,26.0
78,0.03,True,1,True,24,True,True,True,False,-1,25.0
116,0.12,True,4,True,22,True,True,True,False,3,19.0
136,0.14,True,4,True,17,True,True,True,False,2,15.0
176,0.45,True,5,True,6,True,True,True,False,0,6.0
187,0.67,False,5,True,3,False,False,False,False,-1,4.0
194,0.75,False,6,True,2,False,False,False,False,-2,4.0
195,0.50,False,4,True,3,False,False,False,False,-1,4.0
201,0.52,False,4,True,1,False,False,False,False,-3,4.0
215,0.67,False,5,True,2,False,False,False,True,-2,4.0
246,0.17,True,1,True,2,True,True,True,True,-1,3.0
270,0.40,False,3,True,1,False,True,True,False,-3,4.0
292,0.92,False,9,True,5,False,False,False,False,0,5.0
295,0.94,False,9,True,3,False,False,False,False,-2,5.0
307,0.76,False,11,True,3,False,False,False,False,-4,7.0
308,1.02,False,12,True,9,False,False,False,False,3,6.0
324,0.42,False,7,True,6,False,True,True,False,-2,8.0
340,0.09,True,2,True,13,True,True,True,False,1,12.0

In [9]:
s = ''